*{
  margin: 0;
  padding: 0;
}

body{
  background-color:rgba(240, 255, 255, 0.938);

  overflow: hidden;
}
.title{
  margin-top: 5%;
 color: rgba(0, 153, 255, 0.911);
  margin-bottom: 50%;
  margin-left: 43%;
}

.form-control{
  margin-top: 2%;
  margin-left: 20%;
  margin-right: -25%;
  
  width:200px;
}
.no{
  text-align: center;

}
.temp_minmax{
  color: black;
  text-align: center;
}
i{
  animation: rotateY 1s infinite;
}
.container {
  display: inline-block;
}
@keyframes rotateY {
  0% { transform: rotateY( 60deg) rotateX(60deg) ; }
  20% { transform: rotateY( 120deg); }
  40% { transform: rotateY( 180deg); }
  60% { transform: rotateY( 240deg); }
  80% { transform: rotateY( 300deg); }
  100% { transform: rotateY( 360deg); }
}
.location{
  text-align: center;
  text-transform: capitalize;
}

.box1{
  width: 350px;
 height: 450px;
 background-image:url('sunny.jpg') ;
 background-size:cover ;
 background-repeat: no-repeat; 
 color: whitesmoke;
 position: absolute;
 left: 35%;  
 right: 0;
 top: 19%;  
 bottom: 0;
 border-radius: 6%;
 box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
overflow: hidden;

}
.box2{
  width: 350px;
 height: 450px;
 background-image:url('rain.jpg') ;
 background-size:cover ;
 background-repeat: no-repeat;
 opacity: 0.8;
 position: absolute;
 left: 35%;  
 right: 0;
 top: 19%;  
 bottom: 0;
 border-radius: 6%;
 box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
color:black;
overflow: hidden;

}





.wave {
opacity: 0.3;
position: absolute;

top: 140%;
left:15vw;
bottom: 0;
background: azure;
width:180%;
height:100%;
margin-left: -25rem;
margin-top: -25rem;
transform-origin: 50% 48%; 
border-radius: 40%;
animation: drift 9000ms infinite linear;
z-index:2;

}
.wave .-two{
  position: relative;
  margin-left: 25vw;
 animation: drift 16000ms infinite linear;
z-index:3 !important;
opacity: 0.7;

}
.wave .-three{
  animation: drift 19000ms infinite linear;
z-index:4 !important;
opacity: 0.4;
}

@keyframes drift 
{
from{
  transform: rotate(0deg);
} 
to{
  transform: rotate(360deg);
} 
from{
  transform: rotate(360deg);
} 

to{
  transform: rotate(0deg);
}
}

@media screen and (max-width:450px){
.box1, .box2{
left: 1%;
margin-right: 1%;
display: block;
justify-content: center;

}

.title{

 margin-left: 42%;
}
}

@media screen and (min-width:451px) and (max-width:650px) {
  .box1, .box2{
  left: 20%;
  margin-right: 1%;
  display: block;
  justify-content: center;
  
  }
  
  .title{
  position: absolute;
  left: -10%;
  top:2%;
  }
  }